/* Global styles */
body {
    font-family: 'Jost', sans-serif;
    font-weight: 200;
    overflow-x: hidden; /* Prevents horizontal overflow */
    font-size: 1.1em;
}

p {
    color: rgb(65, 65, 65);
}

.bottom-margin {
    margin-bottom: .9em;
}

ul, h5, h4, h2, h3 {
    margin-bottom: 1.4em;
    margin-top: 1.4em;
    color: rgb(65, 65, 65);
}

img {
    /* max-width: 80vw; */
    height: auto;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth image transition */
}

.green{
    background-color: #6C8B89;
}

.bg-light-2 {
    background-color: rgba(108, 139, 137, 0.1)
}

.thin-text {
    font-weight: 200;
}

.padding-container {
    padding: 4% 15%;
}

/* Hero Section */
.hero {
    height: 80vh; /* Keep the height of the hero section */
    background-color: #ffffff;
    margin-top: 56px; /* Adjust based on navbar height */
}

/* Logo Settings */
.logo {
    position: relative;
    width: 30vw; /* Set the initial size relative to viewport width */
    transition: all 0.3s ease; /* Smooth transition for the resizing */
}

/* The logo grows relative to the text size and screen size */
.hero h2 {
    font-size: 3rem; /* Default font size */
}

/* Section animations for when they come into view */
.project-section {
    opacity: 0;
    transform: translateY(50px); /* Initially hidden */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition */
}

.project-section.in-view {
    opacity: 1;
    transform: translateY(0); /* Move to the original position */
}


.project-image {
    transition: transform 0.5s ease;
}

/* Hover effect on images (slow transition on hover) */
.project-image:hover {
    transform: scale(1.02); /* Slight zoom effect */
}

/* Link and Text */
.link-text {
    font-size: 1.2rem !important; 
    font-weight: 400 !important;
}

/* Primary text color */
.text-primary {
    color: #0ea5e9 !important; /* Sky blue color */
    font-weight: 200;
}

/* Icons */
.bi {
    font-size: 1.5rem;
}

/* Navbar styles */
.navbar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.804);
}

/* Contact Section */
.contact-section {
    padding: 120px 0 0 0;
    min-height: calc(100vh - 200px);
    /* background-color: #f8f9fa; */
}

.form-label {
    font-size: 0.75rem;
}


.card {
    border: none;
    /* border-radius: 15px; */
}

/* Increase the size of the background and the space around the icon */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #6c757d; /* Dark Grey Background */
    border-radius: 50%; /* Make the background circular */
}

/* Optionally adjust the size of the icon */
.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
    font-size: 1.5rem; /* Make the icon itself bigger */
}


.form-control {
    border-radius: 0px;
    padding: 0.75rem;
    border: 1px solid #dee2e6;
}

.form-control:focus {
    border-color: #0ea5e9;
    box-shadow: 0 0 0 0.2rem rgba(14, 165, 233, 0.25);
}

.btn-primary {
    background-color: #0ea5e9;
    border-color: #0ea5e9;
    padding: 0.75rem;
    /* border-radius: 8px; */
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #0284c7;
    border-color: #0284c7;
    transform: translateY(-2px);
}

/* Skills Section */
.skill-img {
    width: 36px;
    height: 36px;
    /* margin: 8px; */
    padding: 4px;
}


.navlogo {
    padding:0;
    max-height: 50px;
    transition: transform 0.8s ease-in-out, margin-left 0.8s ease-in-out;
    z-index: 999;

}

.center-logo {
    transform: translateX(calc(48vw - 50%)); /* Moves the logo to the center smoothly */
    
}

.portfolio-page {
    margin-left: 10%; 
    margin-right: 10%;
}

/* Logo resizes depending on the screen size (relative to font size) */
@media (max-width: 2600px) {
    .logo {
        width: 40vh; /* Increase size for medium-sized screens */
    }
    .hero h3 {
        font-size: 2.5rem; /* Smaller text on medium screens */
    }
    .hero p {
        font-size: 1.8rem; /* Adjust text size */
    }
}

@media (max-width: 1200px) {
    .logo {
        width: 35vh; /* Increase size for medium-sized screens */
    }
    .hero h3 {
        font-size: 1.6rem; /* Smaller text on medium screens */
    }
    .hero p {
        font-size: 1.2rem; /* Adjust text size */
    }
}

@media (max-width: 992px) {
    .logo {
        width: 30vh; /* Larger logo for smaller screens */
    }
    .hero h3 {
        font-size: 1.6rem; /* Further reduce text size for smaller screens */
    }
    .hero p {
        font-size: 1.2rem; /* Adjust text size */
    }
}

@media (max-width: 768px) {
    .logo {
        width: 30vw; /* Larger logo for mobile screens */
    }
    .hero h3 {
        font-size: 1.6rem; /* Adjust text size */
    }

    .contact-section {
        padding: 80px 0 0 0;
    }

    .card-body {
        padding: 2rem !important;
        font-size: small;
    }
    .hero p {
        font-size: 1.2rem; /* Adjust text size */
    }
}

@media (max-width: 480px) {
    .logo {
        width: 40vw; /* Even larger logo for very small screens */
    }
    .hero h3 {
        font-size: 1rem; /* Adjust text size */
    }
    .hero p {
        font-size: .8rem; /* Adjust text size */
    }

    .hero {
        max-height: 50vh;
    }
}