<!-- components/footer.html -->
<footer class="bg-dark py-4 mt-4" id="contact">
    <div class="container text-center">
        <h4 class="mb-4 fw-light text-light">Let's Connect</h4>
        <div class="d-flex justify-content-center gap-4">
            <a href="https://github.com/Andrewodwyer" class="text-light"><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/andrew-o-dwyer/" class="text-light"><i class="bi bi-linkedin"></i></a>
            <a href="mailto:andrewodwyer.aod@gmail.com" class="text-light"><i class="bi bi-envelope"></i></a>
        </div>
        <p class="my-4 text-light">Copyright &copy; 2025. All rights reserved.</p>
    </div>
</footer>