<!-- components/nav.html -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <!-- Center the logo in the navbar navbar-brand class taken out-->
        <a class=" d-flex align-items-center" href="index.html">
            <img src="img/logo.png" alt="Andrew O'Dwyer Logo" class="img-fluid navlogo grey">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Work
                    </a>
                    <ul class="dropdown-menu border-0 shadow" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="VintageDrums.html">VintageDrums</a></li>
                      <li><a class="dropdown-item" href="TheWord.html">The Word</a></li>
                      <li><a class="dropdown-item" href="StarFox.html">StarFox</a></li>
                    </ul>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
